@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Kanit&family=Roboto+Mono&family=Source+Code+Pro&display=swap');
/*
COLOR PALLETE
#555555 - GRAY
#FFFFFF
#0598CE - LIGHT BLUE
#113768 - MED BLUE
#001A33 - DARK BLUE
*/

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: linear-gradient(to top, #242424, #313131);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkest: #1F2544;
  --dark:#474574;
  --medium: #81689D;
  --light: #FFD0EC;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* My CSS */

.App {
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;

  /* style */
  border-radius: 1rem;
  
}

/* Top Navbar */
.nav-top {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  /*style*/
  padding: .5rem 0;

  background-color: var(--dark);
  background-image: linear-gradient(to right, #745e8d, #81689d);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.nav-top-middle {
  justify-self: center;
}

.nav-top-middle h2 {
  margin: 0;
}

.nav-top-left, .nav-top-middle .nav-top-right {
  width: 5rem;
}

.nav-top-icon {
  margin-right: .8em;
  margin-top: .3rem;
  font-size: larger;
}

.nav-top-icon:hover {
  cursor: pointer;
}

/* Game Container */
.game-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  /* layout */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-width: 550px;

  /* style */
  border-radius: 1rem;
  padding: .5rem 1rem;
  background-color: var(--darkest);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

.game-row-1 {
  margin-top: 1rem;
  border: red solid 1px;
}

.game-row-2 {
  /* layout */
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  border: red solid 1px;
}

.game-row-3 {
  /* layout */
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  border: red solid 1px;
}

.game-column-1 {

  border: blue solid 1px;
}

.game-column-2 {
  width: 16rem;
  background-color: var(--dark);
  border-radius: .25rem;

  border: blue solid 1px;
}

/* Encryption */
.encryption-container {
  /*layout*/
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--darkest);
  border-radius: .25rem;
}

.encryption-container h4 {
  margin: 1rem 0;
  margin-right: .04rem;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;
}

/* Swap Input */
.swap-container {
  /*layout*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*style */
  padding: 1.5rem 1rem;

  border: plum solid 1px;
}

.swap-0, .swap-1 {
  /* layout */
  display: flex;
  align-items: center; /* Aligns vertically center */
  justify-content: center; /* Aligns horizontally center, if needed */
  height: 5rem;
  width: 4rem;

  /* style */
  font-size: 5rem;
  padding: .5rem .8rem;
  border-radius: .25rem;

  /* dev */
  background-color: var(--medium);
}

.swap-0 p, .swap-1 p {
  padding-bottom: 10px;
}

.swap-0, .swap-arrow-icon {
  /*layout */
  margin-right: .9rem;
}

.swap-arrow-icon {
  font-size: x-large;
}

/* Phrase Input */
.phrase-input-container {
  /*layout*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  /*style */
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: .8rem;

  border-radius: .25rem;
  background-color: red;
}

.phrase-input-word {
   /*layout*/
   display: flex;
   margin-right: 1rem;
   margin-top: .2rem;
}

.phrase-input-blocks {
  /*layout*/
  display: flex;
  align-items: center; /* Aligns vertically center */
  justify-content: center; /* Aligns horizontally center, if needed */
  height: 35px;
  width: 35px;

  /*style*/
  border: var(--medium) 1px solid;
  border-radius: .25rem;
}

.phrase-input-blocks p {
  font-size: 1.6rem;
  padding-bottom: 2px;
}

/* Guesses */
.guess-container {
  /*layout*/
  display: flex;
  flex-direction: column;  
  width: 7rem;
}

.guess-container h3, .guess {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-container h3 {
  margin: .5rem 0;
}

.guess {
  margin-top: .75rem;
}

.guess p, .guess-arrow-icon {
  margin: .3rem 0;
  margin-right: .2rem;
}

.guess p:last-child {
  margin-right: 0;
}

.guess-arrow-icon {
  font-size: .75rem;
}

.correct-guess {
  background-color: #39ff14;
}

.incorrect-guess {
  background-color: #f55;
}

.phrase p{
  font-size: .65rem;
}

/* Letter Historgram */
.histogram-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 75%;
  min-height: 5rem;
  margin-right: 1rem;

  /*style*/
  padding-top: .5rem;
  padding-left: 1rem;
  border-radius: .25rem;

  /*dev*/
  background-color: #535bf2;
}

.histogram-letter {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: .5rem;

  /*style*/
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
}

/* Plays Remaining */
.plays-remaining-container {
  /*layout*/
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;

  border-radius: .25rem;

  /*dev*/
  background-color: #474574;
}

.plays-remaining-container p {
  margin: 0;
}

.plays-remaining-container h2 {
  margin: 0;
  font-size: 3rem;
}


/* animation stuff */
.box {
  border: 1px solid gray; /* Initial border color */
  margin: 2px;
  /* Smooth transition for border color */
  transition: border-color 0.1s ease;
}

.animate {
  border-color: var(--light); /* Animate to white border */
}

.no-animate {
  border-color: var(--medium); /* Back to gray without animation */
  transition: none; /* Remove transition to disable animation */
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--darkest);
  color: var(--light);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 50%; /* Adjust based on your needs */
  max-width: 500px; /* Adjust based on your needs */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

/* Loader */
.loader {
  width: 8px;
  height: 48px;
  display: block;
  margin: auto;
  left: -20px;
  position: relative;
  border-radius: 4px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: 20px 0 rgba(255, 255, 255, 0.25), 40px 0 white, 60px 0 white;
  }
  50% {
    box-shadow: 20px 0 white, 40px 0 rgba(255, 255, 255, 0.25), 60px 0 white;
  }
  100% {
    box-shadow: 20px 0 white, 40px 0 white, 60px 0 rgba(255, 255, 255, 0.25);
  }
}
    

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
}

.board {
  width: 450px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 550px;
  height: 300px;
  margin-top: 60px;
  background-color: green;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}